body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 10px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.list {
  list-style: none;
  display: flex;
}

.right {
  justify-content: flex-end;
}

.listItem {
  margin: 10px;
}

.link {
  text-decoration: none;
}

.activeLink {
  color: cornflowerblue;
}
